<h1>Review</h1>

<%= link_to "Back", recipe_reviews_path(@review.recipe) if @review.recipe %>

<p>Recipe: <%= link_to @review.recipe.name, recipe_path(@review.recipe) if @review.recipe %> </p>

<p><%= @review.content %> | <%= link_to "Edit", edit_recipe_review_path(@review.recipe, @review) if @review.recipe %></p>
